exclude: "docs|.git|.tox"
default_stages: [ commit ]
fail_fast: true

repos:

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.286"
    hooks:
      - id: ruff

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        args:
          - --config=pyproject.toml
          - src/pydiscourse
          - tests
